<h1>STORE</h1>

<a href="/product">view Products</a>		
<div>
<p>add Product</p>
		
<form action="/products" method="post">
			
<p>Product Id
			
<p><input type="text" name="id" placeholder="id">
			
<p>Product name			
<p><input type="text" name="name" placeholder="name">	
			
<input type="submit"> </input>
		
</form>
</div>
<div>
<p>delete Product</p>
		
<form action="/product_delete" method="post">
			
<p>Product Id
			
<p><input type="text" name="id" placeholder="id">
			
<!-- <p>Product name			
<p><input type="text" name="name" placeholder="name"> -->			
<input type="submit"> </input>
		
</form>
</div>
<!--
<p>update Product</p>
		
<form action="/product_update" method="post">
			
<p>Product Id
			
<p><input type="text" name="id" placeholder="id">
						
<input type="submit"> </input>
		
</form>
-->